* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

#wholepage{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  display: flex;
  height: 10vh;
  justify-content: center;
}

nav a{
  display: flex;
  padding: 0.7vw 5vw;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin-top: 2vw;
  transition: 0.5s;
}

nav a:hover{
  text-decoration: underline;
  color: rgb(34, 189, 10);
}

h3, h1, h2{
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 10px hsl(0, 0%, 0%);
  padding: 0.3vw;
  margin-left: 10%;
}

h3{
  margin-top: 10vw;
  font-size: 2rem;
  margin-bottom: 0vw;
}

h1{
  margin-top: 0vw;
  font-size: 4rem;
  margin-bottom: 1vw;
}

h2{
  margin-top: 0vw;
  font-size: 3rem;  
}

button{ 
  font-size: 2rem;
  padding: .5vw;
  width: 20vw;
  border-radius: 10vw;
  background-color: rgb(124, 124, 127);
  border: 0px solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.822);
  transition: 0.5s;
  margin-left: 10%;
}

button:hover{
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgb(56, 212, 152);
  background-color: rgb(28, 151, 65);
}
